/* avatar colors */
$avatar-color-1: #00BEE8;
$avatar-color-2: #1FD7C1;
$avatar-color-3: #6E52FF;
$avatar-color-4: #9327FF;
$avatar-color-5: #462F8A;
$avatar-color-6: #C3FF2B;
$avatar-color-7: #FC71FF;
$avatar-color-8: #FF4646;
$avatar-color-9: #FF5EB3;
$avatar-color-10: #FF745E;
$avatar-color-11: #FF7A00;
$avatar-color-12: #FFA35E;
$avatar-color-13: #FFBB2B;
$avatar-color-14: #FFC701;
$avatar-color-15: #FFE62B;