@use "sass:color";
@use "./../../../styles/mixins" as *;
@use "./../../../styles/variables" as *;

section {


  > div {
    @include dFlex($fd: column, $jc: flex-start, $g: 16px);
    margin-bottom: 32px;

    > h2 {
      font-size: 61px;
      font-weight: 700;
      text-align: center;
    }
    > img {
      width: 150px;
      height: 3px;
    }
  }
}

form {
  width: 422px;
  >div{
    @include input();
    margin-bottom: 32px;
  }
}

.btn-wrapper {
  margin-top: 60px;
  width: 100%;
  @include dFlex($jc: space-around !important);
  > button:nth-child(1) {
    @include primaryButton($p: 12px 16px, $fw: 700);
    font-size: 21px;
  }
  > button:nth-child(2) {
    @include secondaryButton($p: 12px 16px, $fw: 700);
    font-size: 21px;
  }
}

.hover:hover {
  cursor: pointer;
}