<section>
    <div>
        <h2>Log in</h2>
        <img src="./img/accent-line.svg" alt="accent-line">
    </div>
    <form action="">
        <div>
            <input (focus)="emailInput = true" (blur)="emailInput = false" placeholder="Email" type="email" name="email" id="email">
            <div [class.blue-border]="emailInput">
                <img src="./img/icons/mail.svg" alt="Mail-icon">
            </div>
        </div>
        <div>
            <input (focus)="passwordInput = true" (blur)="passwordInput = false" placeholder="Password" type="password" name="password" id="password">
            <div [class.blue-border]="passwordInput">
                <img *ngIf="!passwordInput" src="./img/icons/lock.svg" alt="lock">
                <img *ngIf="passwordInput && !showpassword" src="./img/icons/visibility.svg" alt="visibility">
                <img *ngIf="passwordInput && showpassword" src="./img/icons/visibility_off.svg" alt="visibility_off">
            </div>
        </div>
        <div class="btn-wrapper">
            <button type="submit">Log in</button>
            <button type="button">Guest Log in</button>
        </div>
    </form>
</section>
