<section>
    <div>
        <h2>Log in</h2>
        <img src="./img/accent-line.svg" alt="accent-line">
    </div>
    <form action="">
        <div>
            <input placeholder="Email" type="email" name="email" id="email">
            <div>
                <img src="./img/icons/mail.svg" alt="Mail-icon">
            </div>
        </div>
        <div>
            <input placeholder="Password" type="password" name="password" id="password">
            <div>
                <img src="./img/icons/lock.svg" alt="lock">
                <img src="./img/icons/visibility.svg" alt="visibility">
                <img src="./img/icons/visibility_off.svg" alt="">
            </div>
        </div>
        <div>
            <button type="submit">Log in</button>
            <button type="button">Guest Log in</button>
        </div>
    </form>
</section>
