@use "sass:color";
@use "./../../../styles/mixins" as *;
@use "./../../../styles/variables" as *;

section {
  padding: 48px;

  > div {
    @include dFlex($fd: column, $jc: flex-start, $g: 16px);
    margin-bottom: 32px;

    > h2 {
      font-size: 61px;
      font-weight: 700;
      text-align: center;
    }

    > .accent-line {
      width: 150px;
      height: 3px;
      background-color: $light-blue;
      border-radius: 2px;
    }
  }
}

form {
  width: 422px;

  > div {
    @include input();
    margin-bottom: 32px;
  }

  .btn-wrapper {
    margin-top: 54px;
    margin-bottom: 0;

    @include dFlex($g: 35px);
    > button:nth-child(1) {
      @include primaryButton($p: 12px 16px, $fw: 700);
      font-size: 21px;
    }
    > button:nth-child(2) {
      @include secondaryButton($p: 12px 16px, $fw: 700);
      font-size: 21px;
    }
  }
}

.hover:hover {
  cursor: pointer;
}

.error {
  bottom: -21px;
  left: 0;
  position: absolute;
  color: $error-muted;
}

.error-border {
  border-color: $error-red !important;
}

// #region media query height
@media (max-height: 770px) {
  section {
    padding: 24px 48px;

    div {
      h2 {
        font-size: clamp(2.5em, 5.866vw + 1.327em, 3.813em);
      }

      > .accent-line {
        width: clamp(9.6rem, 15.084vw + 4.773rem, 15rem);
      }
    }
  }

  form {
    width: clamp(15em, 50.838vw + 4.832em, 26.375em);

    .btn-wrapper {
      margin-top: 24px;
    }
  }
}
// #endregion

// #region Media Queries Width
@media (max-width: 768px) {
  section {
    padding: 24px clamp(1.2rem, 10.056vw - 2.018rem, 4.8rem);

    div {
      h2 {
        font-size: clamp(4rem, 5.866vw + 2.123rem, 6.1rem);
      }

      > .accent-line {
        width: clamp(9.6rem, 15.084vw + 4.773rem, 15rem);
      }
    }
  }

  form {
    width: clamp(15.5em, 38.839vw + 7.732em, 26.375em);

    div {
      input {
        font-size: clamp(1em, 1.116vw + 0.777em, 1.313em);
      }
    }

    .btn-wrapper {
      margin-top: 24px;

      @include dFlex($g: clamp(1em, 4.241vw + 0.152em, 2.188em));
      > button:nth-child(1) {
        font-size: clamp(1.6rem, 1.397vw + 1.153rem, 2.1rem);
      }
      > button:nth-child(2) {
        font-size: clamp(1.6rem, 1.397vw + 1.153rem, 2.1rem);
      }
    }
  }
}
// #endregion
