@use "sass:color";
@use "./../../../styles/mixins" as *;
@use "./../../../styles/variables" as *;

section {


  > div {
    @include dFlex($fd: column, $jc: flex-start, $g: 16px);
    margin-bottom: 32px;

    > h2 {
      font-size: 61px;
      font-weight: 700;
      text-align: center;
    }
    > img {
      width: 150px;
      height: 3px;
    }
  }
}

form {
  width: 422px;
  > div {
    margin-bottom: 20px;
    @include dFlex($ai: center);
    > input {
      width: 80%;
      height: 48px;
      border: 1px solid $lighter-grey;
      border-radius: 10px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: none;
      padding: 20px;
      &::placeholder {
        font-size: 20px;
        color: $lighter-grey;
      }
      &:focus {
        border: 2px solid $input-focus-blue;
        border-right: none;
        outline: none;
      }
    }
    > div {
      width: 20%;
      height: 48px;
      border: 1px solid $lighter-grey;
      border-bottom-right-radius: 12px;
      border-top-right-radius: 12px;
      background: $white;
      border-left: none;
      @include dFlex($ai: center);
      > img {
        width: 20px;
        height: 16px;
      }
    }
  }
}

.btn-wrapper {
  margin-top: 60px;
  width: 100%;
  @include dFlex($jc: space-around !important);
  > button:nth-child(1) {
    @include primaryButton($p: 12px 16px, $fw: 700);
    font-size: 21px;
  }
  > button:nth-child(2) {
    @include secondaryButton($p: 12px 16px, $fw: 700);
    font-size: 21px;
  }
}

.blue-border {
  border: 2px solid $input-focus-blue !important;
  border-left: none !important;
}

.hover:hover {
  cursor: pointer;
}

