@use "sass:color";
@use "./../../../styles/mixins" as *;
@use "./../../../styles/variables" as *;

section {
  padding: 48px 72px;
  border-radius: 30px;
  background: $white;
  width: 100%;
  > div:nth-child(1) {
    @include dFlex($fd: column, $g: 16px);
    top: -32px;
    > div:nth-child(1) {
      @include dFlex();
      position: absolute;
      left: -24px;
      top: 8px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        background: $hover-grey;
      }
    }
    h2 {
      font-size: 61px;
      font-weight: 700;
    }
    > .accent-line {
      width: 150px;
      height: 3px;
      background-color: $light-blue;
      border-radius: 4px;
    }
  }
}

form {
  width: clamp(300px, calc(34vw + 20px), 422px);
  > div {
    margin-bottom: 24px;
  }

  .input {
    @include input();
  }

  .button-wrapper {
    @include dFlex();
    margin-bottom: 0;
    > button {
      @include primaryButton($p: 12px 16px);
    }
  }
}

.privacy-policy {
  @include dFlex($g: 12px);
  > span {
    > a {
      color: $light-blue;
      &:visited {
        color: $light-blue;
      }
      &:hover {
        text-decoration: underline $lighter-grey;
      }
    }
  }
}

.checkbox-wrapper {
  @include styled-checkbox(
    $main-color: $blue,
    $check-color: white,
    $unchecked-bg: transparent,
    $unchecked-border: $blue,
    $checked-bg: White,
    $checked-border: $blue
  );

  .checkmark {
    right: 0px;
  }
}

.error {
  bottom: -21px;
  left: 0;
  position: absolute;
  color: $error-muted;
}

.error-border {
  border-color: $error-red !important;
}

.error-checkbox {
  @include styled-checkbox(
    $main-color: $blue,
    $check-color: white,
    $unchecked-bg: transparent,
    $unchecked-border: $error-red,
    $checked-bg: White,
    $checked-border: $blue
  );
}

@media(max-width: 1400px){
    section{
        >div:nth-child(1){
            left: 0px;
            top: -32px;
        }

    }
}

// #region Media Queries
@media (max-width: 768px) {
  section {
    padding: 24px clamp(0.75em, 13.393vw - 1.929em, 4.5em);

    > div:nth-child(1) {
      gap: 8px;
          margin-top: 32px;


      > div:nth-child(1) {
        left: 0;
      }

      h2 {
        font-size: 40px;
      }

      > .accent-line {
        width: 100px;
      }
    }
  }

  form {
    width: clamp(15.5em, 38.839vw + 7.732em, 26.375em);

    .input {
      input {
        font-size: clamp(1em, 1.116vw + 0.777em, 1.313em);
      }
    }
  }

  .privacy-policy {
    margin-right: -16px;
  }

  .checkbox-wrapper {
    .checkmark {
      right: 0;
    }
  }
}

// #endregion
