<section>
    <div>
        <h2>Sign up</h2>
        <img src="./img/accent-line.svg" alt="">
    </div>
    <form #form="ngForm" action="signUp">
        <div class="input">
            <input  
            [(ngModel)]="userName" 
            #userNameInput="ngModel"
            [ngClass]="{'error-border': userNameInput.invalid && (userNameInput.touched || form.submitted)}"
            placeholder="Name" required type="text" name="userName" id="userName">
            <div>
                <img src="./img/icons/person.svg" alt="">
            </div>
             <p class="error" *ngIf="userNameInput.invalid && (userNameInput.touched || form.submitted)">
                Please enter your username.
            </p>
        </div>
        <div class="input">
            <input  
            [(ngModel)]="email" 
            #emailInput="ngModel"
            [ngClass]="{'error-border': emailInput.invalid && (emailInput.touched || form.submitted)}"
            placeholder="Email" required type="email" name="email" id="email">
            <div>
                <img src="./img/icons/mail.svg" alt="">
            </div>
            <p class="error" *ngIf="emailInput.invalid && (emailInput.touched || form.submitted)">
                Please enter a valid email.
            </p>
        </div>
        <div class="input">
            <input 
            #passwordInputEle
            (focus)="passwordInput = true"
            (blur)="passwordInput = false" 
            [(ngModel)]="password"
            [ngClass]="{'error-border': passwordInputRef.invalid && (passwordInputRef.touched || form.submitted)}"
            #passwordInputRef="ngModel"   
            [type]="showPassword? 'text' :'password'" 
            required placeholder="Password" name="password" id="password">
            <div >
                <img 
                *ngIf="!passwordInput && password.length == 0" 
                src="./img/icons/lock.svg" alt="lock">
                <img 
                *ngIf="(passwordInput || password.length > 0) && !showPassword" 
                (click)="togglePasswordVisibility('showPassword', passwordInputEle)"
                    src="./img/icons/visibility.svg" alt="visibility">
                <img 
                *ngIf="(passwordInput || password.length > 0) && showPassword" 
                (click)="togglePasswordVisibility('showPassword', passwordInputEle)"
                src="./img/icons/visibility_off.svg" alt="visibility_off">
            </div>
            <p class="error" *ngIf="passwordInputRef.invalid && (passwordInputRef.touched || form.submitted)">
                Please enter your password.
            </p>
        </div>
        <div class="input">
            <input 
            #passwordConfirmInputEle 
            (focus)="passwordInputConfirm = true"
            (blur)="passwordInputConfirm = false"  
            [(ngModel)]="confirmPassword"  
            #confirmPasswordInputRef="ngModel" 
            [ngClass]="{'error-border': confirmPasswordInputRef.invalid && (confirmPasswordInputRef.touched || form.submitted)}"
            [type]="showPasswordConfirm? 'text' :'password'" 
            required name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            <div >
                <img 
                *ngIf="!passwordInputConfirm && confirmPassword.length == 0" 
                src="./img/icons/lock.svg" alt="lock">
                <img 
                *ngIf="(passwordInputConfirm || confirmPassword.length > 0) && !showPasswordConfirm" 
                (click)="togglePasswordVisibility('showPasswordConfirm', passwordConfirmInputEle)"
                    src="./img/icons/visibility.svg" alt="visibility">
                <img 
                *ngIf="(passwordInputConfirm || confirmPassword.length > 0) && showPasswordConfirm" 
                (click)="togglePasswordVisibility('showPasswordConfirm', passwordConfirmInputEle)"
                src="./img/icons/visibility_off.svg" alt="visibility_off">
            </div>
            <p class="error" *ngIf="confirmPasswordInputRef.invalid && (confirmPasswordInputRef.touched || form.submitted)">
                Please confirm your password.
            </p>
        </div>
        <div class="privacy-policy">
            <label 
            [ngClass]="{'error-checkbox': confirmprivacyPolicyInpit.invalid && (confirmprivacyPolicyInpit.touched || form.submitted)}"
            class="checkbox-wrapper">
                <input 
                [(ngModel)]="confirmprivacyPolicy"
                #confirmprivacyPolicyInpit="ngModel"
                (change)="togleManualChange()"
                required type="checkbox" name="privacyPolicy" id="privacyPolicy">
                <span class="checkmark"></span>
            </label>
            <span>I accept the 
                <a 
                (mouseenter)="onLinkHover(true)" 
                (mouseleave)="onLinkHover(false)"
                href="">Privacy policy</a>
            </span>
            <p class="error" *ngIf="confirmprivacyPolicyInpit.invalid && (confirmprivacyPolicyInpit.touched || form.submitted)">
                Please accept the privacy Policy.
            </p>
        </div>
        <div class="button-wrapper">
            <button (click)="onSignUp()" type="submit">Sign up</button>
        </div>
    </form>
</section>
