@use "sass:color";
@use "./../../styles/mixins" as *;
@use "./../../styles/variables" as *;

section {
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
  padding: 32px;
  @include dFlex($fd: column, $jc: space-between);

  > header {
    @include dFlex($jc: space-between);
    width: 100%;
  }
}

.logo {
  width: 100px !important;
  height: 120px !important;
  display: block;
  object-fit: contain;

  &.fade-in {
    opacity: 1;
  }
}

@keyframes fadeInSmooth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo-placeholder {
  width: 100px;
  height: 120px;
}

.call-to-sign-up {
  @include dFlex($g: 16px);
  margin-bottom: 30px;

  > span {
    font-size: 20px;
  }

  > a {
    @include primaryButton($p: 12px 16px);
    font-family: Inter;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  &.mobile-call-to-sign-up {
    @include dFlex($ai: center, $g: 16px);
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    width: max-content;

    > span {
      font-family: Inter;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0%;
      white-space: nowrap;
    }
  }
}

.legal-pages-container {
  @include dFlex();

  > div {
    padding: 10px;
    > a {
      color: $grey;
      &:hover {
        cursor: pointer;
        color: $light-blue;
        transform-origin: left;
        transform: scale(1.04);
      }
    }
  }
}

.auth-content {
  margin-top: 16px;
  margin-bottom: 16px;

  @include dFlex();
  // width: clamp(320px, calc(35vw + 40px), 598px);
  // height: 630px;
  border-radius: 30px;
  background: $white;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
}

@media (max-width: 768px) {
  section {
    position: relative;
    padding: 16px;
  }

  // .auth-content {
  //   padding: 24px;
  // }

  .call-to-sign-up.mobile-call-to-sign-up {
    bottom: 60px;
    width: auto;
    max-width: calc(100vw - 32px);

    > span {
      font-family: Inter;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0%;
      flex-shrink: 0;
    }

    > a {
      padding: 10px 16px;
      font-family: Inter;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0%;
      flex-shrink: 0;
    }
  }
}
