@use "sass:color";
@use "./../../styles/mixins" as *;
@use "./../../styles/variables" as *;

section {
  height: 100vh;
  height: 100dvh;
  padding: 32px;
  @include dFlex($fd: column, $jc: space-between);

  > header {
    @include dFlex($jc: space-between);
    width: 100%;
  }
}

.logo {
  width: 100px !important;
  height: 120px !important;
  display: block;
  object-fit: contain;
  
  &.fade-in {
    opacity: 1;
  }
}

@keyframes fadeInSmooth {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo-placeholder {
  width: 100px;
  height: 120px;
}

.call-to-sign-up {
  @include dFlex($g: 16px);

  > span {
    font-size: 20px;
  }

  > a {
    @include primaryButton($p: 12px 16px);
  }
}

.legal-pages-container {
  @include dFlex();

  > div {
    padding: 10px;
    > a {
      color: $grey;
      &:hover {
        cursor: pointer;
        color: $light-blue;
        transform-origin: left;
        transform: scale(1.04);
      }
    }
  }
}

.auth-content{
  @include dFlex();
  width: 598px;
  height: 630px;
  border-radius: 30px;
  background: $white;
}