@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

header {
  @include dFlex($jc: space-between);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.header-container {
  @include dFlex($jc: space-between);
  width: 100%;
  padding: 20px 40px;
}

span {
  font-size: 20px;
  margin: 0 4rem;
}

button {
  width: 56px;
  height: 56px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid $blue;
  color: $light-blue;
  font-size: 24px;
  font-weight: bold;

  &:hover {
    background-color: $transparent-blue;
  }
}

.header-actions {
  @include dFlex($g: 12px);
}

a {
  @include dFlex();

  img {
    transition: scale 125ms ease;
    &:hover {
      scale: 1.2;
    }
  }
}
