@use './../../../../../styles/_mixins' as *;
@use './../../../../../styles/_variables' as *;

.contact-form-container {
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  @include dFlex($jc: space-between);
}

.contact-avatar-container {
  @include dFlex();
  width: 100px;
  height: 100px;
  margin-right: 48px;
  margin-bottom: 72px;

  img {
    margin-top: -56px;
    width: 112px;
    height: 112px;
  }
}

.contact-avatar {
  @include dFlex();
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid $white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  color: $white;
  font-weight: 400;
  font-size: 40px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  color: $blue;
  margin-bottom: 24px;
  text-align: center;
}

.contact-form {
  @include dFlex($fd: column, $g: 20px, $ai: flex-start);
  width: 100%;
}

.form-group {
  @include dFlex($fd: column, $g: 2px);
  width: 100%;
}

label {
  font-weight: 500;
  font-size: 16px;
  color: $blue;
}

.form-input {
  width: 100%;
  padding: 12px 36px 12px 16px;
  border: 1px solid $lighter-grey;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s;

  &:focus {
    outline: none;
    border-color: $light-blue;
  }

  &.error {
    border-color: $error-red;
  }

  &::placeholder {
    color: $lighter-grey;
  }
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.error-message {
  font-size: 14px;
  color: $error-red;
  font-weight: 400;
  height: 10px;
  align-self: flex-start;
  padding-left: 8px;
}

.form-actions {
  @include dFlex($jc: space-between, $ai: center, $g: 16px);
  margin-top: 24px;
}

.btn-cancel {
  @include secondaryButton();
}

.btn-delete {
  @include secondaryButton();
}

.btn-submit {
  @include primaryButton();
}

@media (max-width: 1040px) {
  .contact-form-container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 4vh;
  }

  .contact-avatar-container {
    margin-right: 0;
    margin-bottom: 0;
  }

  .contact-avatar {
    margin-top: -48px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .contact-form {
    gap: 14px;
  }

  .form-actions {
    margin-top: 0;
    width: 100%;
    justify-content: center;
  }

  .btn-cancel {
    display: none;
  }
}

@media (max-width: 512px) {
  .contact-form-container {
    gap: 8px;
  }

  .contact-avatar {
    margin-top: -96px;
  }
}
