<div class="contact-form-container">
  <!-- <h3>{{ editingContact ? 'Kontakt bearbeiten' : 'Neuen Kontakt hinzufügen' }}</h3> -->

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
    <div class="form-group">
      <!-- <label for="name">Name *</label> -->
      <input type="text" id="name" formControlName="name" class="form-input" [class.error]="isFieldInvalid('name')"
        placeholder="Name">
      <div class="error-message" *ngIf="isFieldInvalid('name')">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <!-- <label for="email">Email *</label> -->
      <input type="email" id="email" formControlName="email" class="form-input" [class.error]="isFieldInvalid('email')"
        placeholder="Email">
      <div class="error-message" *ngIf="isFieldInvalid('email')">
        <span *ngIf="contactForm.get('email')?.errors?.['required']">E-Mail is required</span>
        <span *ngIf="contactForm.get('email')?.errors?.['email']">Please enter valid email address</span>
      </div>
    </div>

    <div class="form-group">
      <!-- <label for="phone">Phone </label> -->
      <input type="tel" id="phone" formControlName="phone" class="form-input" [class.error]="isFieldInvalid('phone')"
        placeholder="Phone">
      <div class="error-message" *ngIf="isFieldInvalid('phone')">
        Please enter valid phone number
      </div>
    </div>

    <div class="form-actions">
      <button type="button" class="btn-cancel" (click)="onCancel()">
        cancel
      </button>
      <button type="submit" class="btn-submit" [disabled]="contactForm.invalid">
        {{ editingContact ? 'Save' : 'Create contact' }}
      </button>
    </div>
  </form>
</div>