@use "./../../../../../styles/_mixins" as *;
@use "./../../../../../styles/_variables" as *;

.contact-form-container {
  padding: 24px;
  max-width: 500px;
  margin: 0 auto;
  @include dFlex();
}

.contact-avatar {
  @include dFlex();
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: $white;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 48px;
  background-color: $light-blue;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  color: $blue;
  margin-bottom: 24px;
  text-align: center;
}

.contact-form {
  @include dFlex($fd: column, $g: 20px, $ai: flex-start);
}

.form-group {
  @include dFlex($fd: column, $g: 2px);
  width: 100%;
}

label {
  font-weight: 500;
  font-size: 16px;
  color: $blue;
}

.form-input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid $lighter-grey;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;

  &:focus {
    outline: none;
    border-color: $light-blue;
  }

  &.error {
    border-color: $error-red;
  }

  &::placeholder {
    color: $lighter-grey;
  }
}

.error-message {
  font-size: 14px;
  color: $error-red;
  font-weight: 400;
  height: 10px;
}

.form-actions {
  @include dFlex($jc: space-between, $ai: center, $g: 16px);
  margin-top: 24px;
}

.btn-cancel {
  @include secondaryButton();
}

.btn-submit {
  @include primaryButton();
}
