/* main color palette */
$light-blue: #29ABE2;
$blue: #2A3647;
$steel-blue: #2A3D59;
$dark-blue: #091931;
$transparent-blue: rgba(12, 46, 98, 0.12);
$lightest-grey: #F6F7F8;
$lighter-grey: #D1D1D1;
$light-grey: #CDCDCD;
$grey: #A8A8A8;
$black: #000000;
$white: #ffffff;
$hover-blue: #D2E3FF;


/* signal colors */
$low-green: #7AE229;
$medium-orange: #FFA800;
$urgent-red: #FF3D00;
$error-red: #FF001F;
$error-muted: #FF8190;


/* element-colors */
$label-blue: #0038FF;
$label-teal: #1FD7C1;
$email-blue: #007CEE;
$progress-bar-blue: #4589FF;
$progress-bar-grey: #F4F4F4;
$input-blue: #005DFF;
$input-focus-blue: #29ABE2;


/* avatar colors */
$avatar-color-1: #00BEE8;
$avatar-color-2: #1FD7C1;
$avatar-color-3: #6E52FF;
$avatar-color-4: #9327FF;
$avatar-color-5: #462F8A;
$avatar-color-6: #C3FF2B;
$avatar-color-7: #FC71FF;
$avatar-color-8: #FF4646;
$avatar-color-9: #FF5EB3;
$avatar-color-10: #FF745E;
$avatar-color-11: #FF7A00;
$avatar-color-12: #FFA35E;
$avatar-color-13: #FFBB2B;
$avatar-color-14: #FFC701;
$avatar-color-15: #FFE62B;