/* main color palette */
$light-blue: #29abe2;
$blue: #2a3647;
$steel-blue: #2a3d59;
$dark-blue: #091931;
$transparent-blue: rgba(12, 46, 98, 0.12);
$lightest-grey: #f6f7f8;
$lighter-grey: #d1d1d1;
$light-grey: #cdcdcd;
$hover-grey: #eeeeee;
$grey: #a8a8a8;
$black: #000000;
$white: #ffffff;
$hover-blue: #d2e3ff;

/* signal colors */
$low-green: #7ae229;
$medium-orange: #ffa800;
$urgent-red: #ff3d00;
$error-red: #ff001f;
$error-muted: #ff8190;

/* element-colors */
$label-blue: #0038ff;
$label-teal: #1fd7c1;
$email-blue: #007cee;
$progress-bar-blue: #4589ff;
$progress-bar-grey: #f4f4f4;
$input-blue: #005dff;
$input-focus-blue: #29abe2;
$column-bg-grey: #e7e7e7;

/* avatar colors */
$avatar-color-1: #00bee8;
$avatar-color-2: #1fd7c1;
$avatar-color-3: #6e52ff;
$avatar-color-4: #9327ff;
$avatar-color-5: #462f8a;
$avatar-color-6: #c3ff2b;
$avatar-color-7: #fc71ff;
$avatar-color-8: #ff4646;
$avatar-color-9: #ff5eb3;
$avatar-color-10: #ff745e;
$avatar-color-11: #ff7a00;
$avatar-color-12: #ffa35e;
$avatar-color-13: #ffbb2b;
$avatar-color-14: #ffc701;
$avatar-color-15: #ffe62b;
