@use "./fonts" as *;
@use "./variables" as *;

* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 56px;
}

button {
  cursor: pointer;
}

.contact-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $white;
  color: $white;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}