@use './fonts' as *;
@use './variables' as *;
@use './mixins' as *;

* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  background-color: #f6f7f8;
  color: #2a3647;
  overflow-x: hidden;
}

input[type='date'] {
  text-align: left;
  direction: ltr;
}

input[type='date']::-webkit-datetime-edit {
  direction: ltr;
  text-align: left;
}

input[type='date']::-webkit-calendar-picker-indicator {
  direction: ltr;
}

input[type='date']:lang(en-US) {
  direction: ltr;
}

h1 {
  font-size: 56px;
}

button {
  cursor: pointer;
}

.contact-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $white;
  color: $white;
  font-weight: 400;
  font-size: 16px;
  @include dFlex();
  margin-right: 8px;
}

.feedback-overlay {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $blue;
  color: $white;
  padding: 16px 24px;
  border-radius: 12px;
  font-size: 16px;
  z-index: 9999;
  animation: slideUpDown 4s ease-in-out forwards;
}

@keyframes slideUpDown {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  20% {
    bottom: 50%;
    opacity: 1;
    transform: translate(-50%, 50%);
  }
  80% {
    bottom: 50%;
    opacity: 1;
    transform: translate(-50%, 50%);
  }
  100% {
    bottom: -100px;
    opacity: 0;
  }
}
