@use "./../styles/_mixins" as *;
@use "./../styles/_variables" as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  @include dFlex($jc: space-between, $ai: flex-start);
  align-content: space-between;
  flex: 1; 
}

.view-container {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $lightest-grey;
  display: flex;
  flex-direction: column;
}

.app-header {
  width: 100%;
  background-color: $white;
}

.app-nav {
  height: 100%;
}

.page-container {
  @include generalMaxWidth();
  flex: 1; 
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

@media (max-width: 1200px){
  .layout{
    @include dFlex($fd:column-reverse)
  }

  .app-nav{
    width: 100%;
    margin-top: auto;
  }
}
