@if (showSplashScreen) {
<div class="splash-screen" [class.hide-background]="!isMobile && logoAnimating" [class.mobile-splash]="isMobile" [class.fade-to-login]="isMobile && logoAnimating">
  @if (isMobile) {
    <img src="./img/icons/logo_join_responsiv.svg" alt="Join Logo" class="splash-logo mobile-logo" [class.animate-to-login]="logoAnimating">
    @if (showFinalLogo) {
      <img src="./img/login/join-logo-100x120.svg" alt="Join Logo" class="final-logo mobile-final-logo">
    }
  } @else {
    <img src="./img/login/join-logo-100x120.svg" alt="Join Logo" class="splash-logo desktop-logo" [class.animate-to-header]="logoAnimating">
  }
</div>
}

<div class="layout" [class.show]="logoAnimating" [class.mobile-auth-layout]="isMobile && logoAnimating">
  @if (this.shouldShowLayout()) {
  <app-nav class="app-nav"></app-nav>
  }
  <div class="view-container">
    @if (this.shouldShowLayout()) {
    <app-header class="app-header"></app-header>
    }
    <div [class.page-container]="contactDataService.notInLogIn" [class.full-width]="!contactDataService.notInLogIn">
      <router-outlet />
    </div>
  </div>
</div>