<div class="board-container">
  <div class="board-header">
    <h1>Board</h1>
    
    <div class="board-actions">
      <div class="search-container">
        <input 
          type="text" 
          placeholder="Find Task" 
          class="search-input"
          [(ngModel)]="searchTerm"
          (input)="onSearchChange()"
        />
        <img src="img/icons/search.svg" alt="Search" class="search-icon">
      </div>
      
      <button class="add-task-button">
        <span>Add task</span>
        <span class="plus-icon">+</span>
      </button>
    </div>
  </div>

  @if (searchTerm && !hasSearchResults) {
    <div class="no-results-message">
      <p>No results found for "{{ searchTerm }}"</p>
    </div>
  }

  <div class="board-columns">
    @for (column of filteredColumns$ | async; track column.id) {
    <div class="column">
      <div class="column-header">
        <h2>{{ column.title }}</h2>
        <button class="add-task-btn" (click)="quickAddTask(column.status)" title="Add new task"> </button>
      </div>

      <div class="column-content" cdkDropList [id]="column.status" [ngClass]="[ column.tasks.length < 1 ?
        'column-content-' + column.status + '-bg' : '', isDragging ? 'indicate-drop-ready' : '', column.tasks.length === 0 ? 'empty-column' : '']" [cdkDropListData]="column.tasks"
        [cdkDropListConnectedTo]="column.connectedStatuses" (cdkDropListDropped)="drop($event)">

        @for (task of column.tasks; track task.id) {
        <app-task-card class="app-task-card" cdkDrag [task]="task" (cdkDragStarted)="enableDropIndication()"
          (cdkDragEnded)="disableDropIndication()" (taskClicked)="openTaskDetails($event)"></app-task-card>
        }

      </div>
    </div>
    }
  </div>
</div>

@if (showTaskDialog && selectedTask) {
<app-task-dialog [task]="selectedTask" [isEditMode]="isEditMode" (closeClicked)="closeTaskDialog()"
  (editClicked)="editTask()" (deleteClicked)="deleteTask($event)" (saveClicked)="saveTask($event)"
  (subtaskToggled)="toggleSubtask($event)">
</app-task-dialog>
}