<nav>
    <img src="./img/join-logo-nav.svg" alt="">

    <section>
        <div class="main-pages-container">
            <div>
                <a class="nav-link--summary" routerLink="/summary" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Summary</a>
            </div>
            <div>
                <a class="nav-link--add-task" routerLink="/addTask" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Add Task</a>
            </div>
            <div>
                <a class="nav-link--board" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Board</a>
            </div>
            <div>
                <a class="nav-link--contacts" routerLink="/contacts" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Contacts</a>
            </div>
        </div>

        <div class="legal-pages-container">
            <div>
                <a>Privacy Policy</a>
            </div>
            <div>
                <a routerLink="/legal-notice" routerLinkActive="active">Legal Notice</a>
            </div>
        </div>
    </section>
</nav>