@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

nav {
  @include dFlex($fd: column, $jc: space-between);
  height: 100vh;
  height: 100dvh;
  background-color: $blue;
  color: white;
}

img {
  padding: 40px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $grey;
}

section {
  margin-top: 4vh;
  margin-top: 4dvh;
  margin-bottom: 4vh;
  margin-bottom: 4dvh;
  @include dFlex($fd: column, $jc: space-between);
  height: 100%;
}

.main-pages-container,
.guest-nav-container {
  @include dFlex($fd: column);
  width: 100%;

  div {
    width: 100%;

    a {
      @include dFlex($jc: flex-start);
      width: 100%;
      padding: 0.8rem 5rem;
      margin: 0.8rem 0;

      &:hover {
        background-color: $steel-blue;
      }

      &::before {
        filter: brightness(0.7);
        margin-right: 10px;
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
      }

      &.active {
        color: $white;
        background-color: $dark-blue;
        cursor: default;

        &::before {
          filter: brightness(1);
        }
      }
    }
  }
}

.guest-nav-container {
  @include dFlex($fd: column, $jc: center, $ai: center);

  div {
    a {
      @include dFlex($jc: center, $ai: center);
      padding: 0.8rem 2rem;

      &::before {
        margin-right: 8px;
      }
    }
  }
}

.nav-link--summary::before {
  background-image: url("./../../../../public/img/icons/nav/summary.svg");
}

.nav-link--add-task::before {
  background-image: url("./../../../../public/img/icons/nav/add-task.svg");
}

.nav-link--board::before {
  background-image: url("./../../../../public/img/icons/nav/board.svg");
}

.nav-link--contacts::before {
  background-image: url("./../../../../public/img/icons/nav/contacts.svg");
}

.nav-link--login::before {
  background-image: url("./../../../../public/img/icons/login_icon.svg");
}

@media (min-width: 1201px) {
  .legal-nav-mobile {
    display: none;
  }
}

.legal-pages-container {
  @include dFlex($fd: column, $ai: flex-start);

  div {
    padding: 10px;
    a {
      &:hover {
        cursor: pointer;
        color: $light-blue;
        transform-origin: left;
        transform: scale(1.04);
      }
    }
  }
}

@media (max-width: 1200px) {
  img {
    display: none;
  }

  .main-pages-container {
    @include dFlex($fd: row, $ai: center, $g: 12px);

    div {
      @include dFlex($fd: column);
      a {
        @include dFlex();
        padding: 8px 36px;
        width: 190px;
        border-radius: 10px;
        white-space: nowrap;
      }
    }
  }

  .guest-nav-container {
    @include dFlex($jc: center, $ai: center);
    
    div {
      a {
        @include dFlex($jc: center, $ai: center);
        padding: 8px 36px;
        width: 190px;
        border-radius: 10px;
        white-space: nowrap;
        
        &::before {
          margin-right: 8px;
        }
      }
    }
  }

  .legal-pages-container {
    display: none;
  }

  nav {
    height: 80px;
    width: 100%;
    @include dFlex($ai: center);
  }

  section {
    @include dFlex($ai: center);
  }
}

@media (max-width: 1200px) {
  section {
    width: 100%;
  }
  .main-pages-container {
    width: 100%;
    @include dFlex($fd: row, $jc: space-between, $g: unset);

    div {
      a {
        @include dFlex($fd: column);
        padding: 0;
        margin: 0;
        width: clamp(74px, calc(20vw + 1rem), 80px);
        height: 80px;
        border-radius: 8px;
        white-space: nowrap;
        &::before {
          margin-right: 0;
          width: 30px;
          height: 30px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .guest-nav-container {
    width: 100%;
    @include dFlex($jc: space-between, $ai: center);
    
    div:not(.legal-nav-mobile) {
      a {
        @include dFlex($fd: column, $jc: center, $ai: center);
        padding: 0;
        margin: 0;
        width: clamp(74px, calc(20vw + 1rem), 80px);
        height: 80px;
        border-radius: 8px;
        white-space: nowrap;
        &::before {
          margin-right: 0;
          width: 30px;
          height: 30px;
          margin-bottom: 10px;
        }
      }
    }
    
    .legal-nav-mobile {
      @include dFlex($jc: flex-end, $ai: center, $g: 15px);
      margin-right: 24px;
      
      a {
        @include dFlex($fd: column, $jc: center, $ai: center);
        padding: 8px 55px;
        margin: 0;
        width: clamp(74px, calc(20vw + 1rem), 80px);
        height: 80px;
        border-radius: 8px;
        white-space: nowrap;
        text-align: center;
        line-height: 1.2;
        
        &:hover {
          background-color: $steel-blue;
        }
        
        &.active {
          color: $white;
          background-color: $dark-blue;
          cursor: default;
        }
        
        &::before {
          display: none;
        }
      }
    }
  }
}
