@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.card-container {
  @include dFlex($fd: column, $ai: flex-start, $g: 16px);
  background-color: $white;
  padding: 16px;
  border-radius: 24px;
}

.task-category {
  background: $blue;
  color: $white;
  padding: 4px 16px;
  border-radius: 8px;
  display: inline-block;
}

.user-story {
  background: $label-blue;
}

.technical-task {
  background: $label-teal;
}

.task-text {
  @include dFlex($fd: column, $ai: flex-start, $g: 8px);

  p {
    color: $grey;
  }
}

.subtasks {
  @include dFlex($jc: flex-start, $g: 4px);

  span {
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
  }
}

.progress-bar-container {
  width: 120px;
  height: 8px;
  background-color: $progress-bar-grey;
  border-radius: 4px;
}

.progress-bar {
  height: 8px;
  border-radius: 4px;
  background-color: $progress-bar-blue;
}

.assigned-users {
  @include dFlex();
}

.user-avatar {
  @include dFlex();
  margin-right: -8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: black;
  color: $white;
  font-size: 12px;
  font-weight: 600;
}

.nr-1 {
  background-color: aqua;
}
