<div class="card-container">
    <div class="header">
        <div class="task-category" [ngClass]="task.category === 'User Story' ? 'user-story' : 'technical-task'">
            <p class="label">{{task.category}}</p>
        </div>
    </div>

    <div class="task-text">
        <h3>{{task.title}}</h3>
        <p>{{this.turcanText(task.description)}}</p>
    </div>

    @if (true) {
    <div class="subtasks">
        <div class="progress-bar"></div>
        <span>x/y Subtasks</span>
    </div>
    }

    <div class="footer">
        <div class="assigned-users">
            @for (user of [0, 1]; track user) {
            <div class="user-avatar nr-{{user}}">
                AK
            </div>
            }
        </div>
        <div class="priority"></div>
    </div>

</div>