<section>
    <div class="contacts-container">
        <app-contact-list class="contact-list"
            [isDialogOpen]="showAddDialog"
            (contactSelected)="onContactSelected($event)"
            (addContactRequested)="openAddContactDialog()"
            (closeDialogRequested)="startDialogClose()" />
        <div class="contact-details-container">
            <div class="contact-details-header">
                <img src="img/Contacts_better_with_a_team_for_contact_details.svg" 
                     alt="Contacts - better with a team for contact details" 
                     class="contact-header-image" />
            </div>
            @if (selectedContactId) {
                <app-contact-details 
                    [contactId]="selectedContactId" 
                    [showBackButton]="false"
                    (editContactRequested)="openEditContactDialog($event)"
                    (deleteContactRequested)="deleteContact($event)"
                    (backRequested)="onBackRequested()" />
            }
        </div>
    </div>
    
    @if (showAddDialog) {
        <app-contact-dialog
            [editingContact]="editingContact"
            [shouldClose]="shouldCloseDialog"
            (contactSubmitted)="onContactSubmitted($event)"
            (dialogClosed)="closeDialog()" />
    }
</section>