@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background-color: $lightest-grey;
}

.contacts-container {
  @include dFlex($jc: flex-start, $ai: flex-start);
  flex: 1;
  width: 100%;
}

.contact-details-container {
  flex: 1;
  height: 100%;
  padding: 32px;
  @include dFlex($fd: column, $jc: flex-start, $ai: stretch);
  overflow: hidden;
  display: flex; 
}

.contact-details-header {
  @include dFlex($jc: center, $ai: center);
  margin-bottom: 24px;
  flex-shrink: 0;
}

.contact-header-image {
  max-width: 100%;
  height: auto;
  max-height: 150px;
}

.no-contact-selected {
  @include dFlex($jc: center, $ai: center);
  height: 100%;
  width: 100%;
}

.contact-placeholder-image {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

@media(max-width:1200px){
  section{
    height: calc(100vh - 176px);
  }
  .contact-details-container{
    height: calc(100vh - 176px);
  }
}

@media(max-width:815px){
  .contact-list{
    width: 100%;
  }

  .contact-details-container{
    padding: 0;
    display: none; /* Hide in mobile view */
  }
}

@media(max-width:768px){
  section {
    height: auto;
  }
}