@use "./../../../styles/_mixins" as *;
@use "./../../../styles/_variables" as *;

section {
  height: calc(100vh - 96px);
  width: 100%;
}

.contacts-container {
  @include dFlex($jc: flex-start, $ai: flex-start);
  height: 100%;
  width: 100%;
}

.contact-details-container {
  flex: 1;
  height: calc(100vh - 96px);
  padding: 32px;
  overflow-y: auto;
}

.no-contact-selected {
  @include dFlex($jc: center, $ai: center);
  height: 100%;
  color: $grey;
  font-size: 18px;
}
