<section>
    <div class="contact-list-header">
        <button class="add-contact-btn desktop-only" (click)="openAddContactDialog()">
            <span class="btn-text">Add new contact</span>
            <img class="btn-icon" src="./img/icons/person_add.svg" alt="Add contact">
        </button>
    </div>
    @for (item of contactDataService.contactlist; track item.letter) {
    @if(item.contacts.length > 0){
    <h3>{{item.letter}}</h3>
    }

    @for (singleContact of item.contacts; track $index) {

    <div class="contact-item" [class.selected]="singleContact.id === selectedContactId"
        (click)="selectContact(singleContact.id)" [attr.data-contact-id]="singleContact.id"
        [attr.data-selected]="singleContact.id === selectedContactId">
        <div class="contact-icon" [style.background-color]="getRandomColor(singleContact.name)">
            {{ contactDataService.getInitials(singleContact.name) }}
        </div>
        <div class="contact-info">
            <p>{{ singleContact.name }}</p>
            <a href="mailto:{{ singleContact.email }}" (click)="$event.stopPropagation()">{{ singleContact.email }}</a>
        </div>
    </div>
    }
    }

</section>

<button class="mobile-fab" (click)="openMobileAddContactDialog()" title="Add new contact">
    <img src="./img/icons/person_add.svg" alt="Add contact">
</button>