<section>
    <div class="contact-list-header">
        <button class="add-contact-btn" (click)="openAddContactDialog()">
            <span class="add-icon">+</span>
            Kontakt hinzufügen
        </button>
    </div>

    @for (item of (contactDataService.contacts$ | async); track item.id) {
        <div class="contact-item" (click)="openContactDetail(item.id)">
            <div
                class="contact-icon" 
                [style.background-color]="getRandomColor(item.name)">
                {{ getInitials(item.name) }}
            </div>
            <div>
            <p>{{ item.name }}</p>
            <a href="mailto:{{ item.email }}" (click)="$event.stopPropagation()">{{ item.email }}</a>
            </div>
        </div>
    }
</section>

