@use "./../../../../styles/mixins" as *;
@use "./../../../../styles/_variables" as *;

section{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 456px;
    height: calc(100vh - 96px);
    padding: 32px;
    @include dFlex($fd: column, $jc: flex-start, $ai: stretch);
    overflow-y: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 3;
    flex-shrink: 0;
    background-color: $white;
}

.contact-list-header {
  padding: 20px;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 20px;
}

.add-contact-btn {
  @include primaryButton();
  @include dFlex($jc: center, $ai: center, $g: 8px);
  background: $blue;
  width: 100%;
  color: $white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 21px;
}

.contact-item {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  gap: 35px;
  border-radius: 10px;

  &:hover {
    background-color: $hover-blue;
    border-radius: 10px;
  }

  p {
    margin: 0 0 5px 0;
    font-weight: 500;
  }

  a {
    color: $email-blue;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

  &.selected {
    background-color: $blue;
    border-radius: 10px;

    p {
      color: $white;
    }

    a {
      color: $email-blue;
    }
  }
}

.contact-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $white;
  color: $white;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

h3{
  border-bottom: 1px solid $light-grey;
  padding: 28px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}