<div class="dialog-overlay" [class.closing]="isClosing" (click)="onOverlayClick($event)">
  <div class="dialog-wrapper" (click)="onOverlayClick($event)">
    <div class="dialog-container" (click)="$event.stopPropagation()" 
         [class.animateContent]="animated && !isClosing"
         [class.animateContentOut]="isClosing">
      <div class="dialog-header">
        <button (click)="onClose()"></button>
      </div>
      <div class="dialog-intro">
        <img src="./img/join-logo-nav.svg" alt="Join Logo">
        <div class="dialog-headline">
          <h2>{{ editingContact ? 'Edit contact' : 'Add contact' }}</h2>
          <p>{{ editingContact ? '' : 'Tasks are better with a team!' }}</p>
        </div>
        <div class="spacer"></div>
      </div>
      <div class="dialog-main">
        <app-contact-form [editingContact]="editingContact" (contactSubmitted)="onContactSubmitted($event)"
          (formCancelled)="onClose()">
        </app-contact-form>
      </div>
    </div>
  </div>
</div>
