@use "./../../../../styles/_mixins" as *;
@use "./../../../../styles/_variables" as *;

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  @include dFlex($jc: flex-start, $ai: center);
  z-index: 51;
  opacity: 1;
  transition: opacity 300ms ease;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.closing {
    opacity: 0;
  }
}

.dialog-wrapper {
  @include dFlex();
  width: 100%;
}

.dialog-container {
  @include generalMaxWidth();
  @include dFlex();
}

.dialog-header {
  position: absolute;
  @include dFlex($jc: flex-end);
  top: 48px;
  right: 48px;
  z-index: 3;

  button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    transition: all 125ms ease;
    background: url("./../../../../../public/img/icons/close-button.svg") center
      no-repeat;

    &:hover {
      // transform: scale(1.04);
      background-color: $transparent-blue;
    }
  }
}

.dialog-intro {
  @include dFlex($fd: column, $ai: flex-start);
  padding: 40px;
  color: $white;
  background-color: $blue;
  width: 380px;
  height: 540px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  img {
    height: 56px;
  }

  .spacer {
    height: 56px;
  }
}

.dialog-headline {
  padding-top: 10px;
  padding-bottom: 14px;
  background: url("./../../../../../public/img/accent-line.svg") bottom left /
    72px no-repeat;

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }
}

.dialog-main {
  width: 600px;
  height: 540px;
  padding: 48px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: $white;
}

.animateContent {
  animation: contentAnimation 300ms ease;
}

.animateContentOut {
  animation: contentAnimationOut 300ms ease;
}

@keyframes contentAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes contentAnimationOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@media (max-width: 1040px) {
  .dialog-container {
    @include dFlex($fd: column);
  }

  .dialog-header {
    top: 24px;
    right: 24px;

    button {
      background: url("./../../../../../public/img/icons/close-button-white.svg")
        center no-repeat;

      &:active {
        background-color: $light-blue;
      }
    }
  }

  .dialog-intro {
    justify-content: center;
    height: clamp(280px, 34vh, 300px);
    width: 460px;
    border-radius: 30px 30px 0 0;

    img {
      display: none;
    }
  }

  .spacer {
    display: none;
  }

  .dialog-main {
    padding-top: 0;
    height: clamp(360px, 55vh, 420px);

    width: 460px;
    border-radius: 0 0 30px 30px;
  }
}

@media (max-width: 512px) {
  .dialog-intro {
    width: clamp(296px, 90vw, 460px);
    padding: 0 20px 0 20px;
  }

  .dialog-main {
    width: clamp(296px, 90vw, 460px);
    padding: 0 16px 24px 16px;
  }
}

@media (max-width: 420px) {
  .dialog-headline {
    h2 {
      font-size: clamp(40px, 12vw, 50px);
    }

    p {
      font-size: clamp(16px, 5.3vw, 22px);
    }
  }
}

@media (max-height: 650px) {
  .dialog-overlay {
  @include dFlex($jc: flex-start, $ai: center);
  }
}
