<Section>
    <h2>Add Task</h2>
    <form action="">
        <div class="left-content">
            <div>
                <p>Title<span class="red">*</span></p>
                <input required type="text" placeholder="Enter a title">
            </div>
            <div>
                <p>Description</p>
                <textarea name="Description" id="" placeholder="Enter a Description"></textarea>
            </div>
            <div>
                <p>Due date<span class="red">*</span></p>
                <input type="date" name="" id="">
            </div>
        </div>
        <div class="separator"></div>
        <div class="right-content">
            <div>
                <p>Priority</p>
                <div class="button-wrapper">
                    <button>Urgent <img src="./img/icons/priority-urgent.svg" alt=""></button>
                    <button>Medium <img src="./img/icons/priority-medium.svg" alt=""></button>
                    <button>Low <img src="./img/icons/priority-low.svg" alt=""></button>
                </div>
            </div>
            <div>
                <p>Assigned to</p>
                <div class="menu-wrapper overlay-open">
                    <p>Select contacts to assign</p>
                    <div>
                        <img src="./img/icons/arrow_drop_down.svg" alt="">
                    </div>
                </div>
                <div class="overlay-menu">
                    @for (item of contactDataService.contactlist; track $index) {

                        @for (contact of item.contacts; track $index) {
                            <p>{{contact.name}}</p><input type="checkbox" name="" id="">
                        }
                    }
                </div>
            </div>
            <div>
                <span>Category</span><span class="red">*</span>
                <div>
                    <p>Select task category</p>
                    <img src="./img/icons/arrow_drop_down.svg" alt="">
                </div>
            </div>
            <div>
                <p>Subtasks</p>
                <div>
                    <input type="text" placeholder="add new subtask">
                </div>
            </div>
        </div>
    </form>
</Section>
