@use "./../../../styles/mixins" as *;
@use "./../../../styles/_variables" as *;

h2{
     font-size: 61px;
     font-weight: 700;   
}

section{
   padding: 30px 80px;
   height: calc(100vh - 96px);
}

.fullcontent{
    @include dFlex($jc: space-between, $ai: flex-start);
    margin-top: 24px;
}

.red{
    color: $error-muted;
}

.left-content{
    width: 440px;
    >div{
        margin-bottom: 40px;
        p{
            margin-bottom: 12px;
        }
        textarea{
            width: 100%;
            height: 120px;
            border: 2px solid $lighter-grey;
            border-radius: 12px;
            padding: 20px;
            resize: none;
            color: black;
            &::placeholder{
                color: $lighter-grey;
            }
            &:focus {
                border: 2px solid $input-focus-blue;
                outline: none; 
            }
        }
    }
}

.input{
    width: 100%;
    height: 48px;
    border: 2px solid $lighter-grey;
    border-radius: 12px;
    padding-inline: 20px;
    &::placeholder{
        color: $lighter-grey;
    }
    &:focus {
        border: 2px solid $input-focus-blue;
        outline: none; 
    }
}

.separator{
    width: 2px;
    height: 424px;
    background: $lighter-grey;
}

.right-content{
    width: 440px;
    >div{
        margin-bottom: 24px;
        >p{
            margin-bottom: 12px;
        }
    }
}

.button-wrapper{
    @include dFlex($jc: space-between);
    >button{
        width: 136px;
        height: 56px;
        border-radius: 12px;
        @include dFlex($jc: center);
        font-size: 21px;
        font-weight: 700;
    }
}

.btn-not-selectet{
    border: 2px solid $lighter-grey;
    background: $white;
   &:hover{
        transition: 125ms ease;
        transform: translateY(-3px);
        box-shadow: -3px 3px 5px $lighter-grey;
    } 
}

.menu-wrapper{
    width: 100%;
    height: 48px;
    @include dFlex($jc: space-between);
    background: $white;
    padding: 20px;
    border: 2px solid $lighter-grey;
    border-radius: 12px;
    &:hover{
        cursor: pointer;
    }
    >div{
        @include dFlex($jc: center);
        width: 24px;
        height: 24px;
        >img{
            width: 8px;
            height: 5px;
        }
        &:hover{
            border-radius: 50%;
            background-color: $lighter-grey;
        }
    }
}

.overlay-menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    background: $white;
    overflow: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-top: 0;
    border: 2px solid $lighter-grey;
    border-top: none;
}

.overlay-menu::-webkit-scrollbar {
  width: 12px;
}

.overlay-menu::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
 
}

.overlay-menu::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 12px;
  
}

.overlay-open.visible{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid $input-focus-blue;
    border-bottom: none;
    >p{
        visibility: hidden; 
    }
    >div{
        img.rotated {
            transform: rotate(180deg);
            transition: transform 250ms ease;
        }
    }
}

.overlay-menu.visible {
  max-height: 288px;
  opacity: 1;
  position: absolute;
  z-index: 2;
  border: 2px solid $input-focus-blue;
  border-top: none;
}

.overlay-menu.hidden {
  max-height: 0;
  opacity: 0;
}

img.rotated {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.assignt-contact-wrapper{
    @include dFlex($jc: space-between);
    height: 48px;
    border-radius: 10px;
    padding-left: 32px;
    padding-right: 32px;
    transition:all 0.3s ease;
    &:hover{
        background: $lighter-grey;
        cursor: pointer;
    }
    >div{
        @include dFlex($jc: flex-start);
        gap: 12px;
    }
    >input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

.create-btn{
    @include primaryButton();
}

.clear-btn{
    @include secondaryButton();
}

.btn-button-wrapper{
    @include dFlex($jc: space-between);
    
    >div{
        @include dFlex($jc: space-between);
        gap: 40px;
    }
}

.assignt-contact-wrapper:has(.assign-checkbox:checked) {
    background-color: $blue;
    color: $white;
}

.checkmark {
    transition:all 0.3s ease;
    position: absolute;
    top: 14px;
    right: 12px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 2px solid $blue;
}

.assignt-contact-wrapper input:checked ~ .checkmark {
    transition:all 0.3s ease;
    background-color: $blue;
    border: 2px solid $white;
    z-index: 1;
}

.checkmark::after,
.checkmark::before {
    content: "";
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
}

.assignt-contact-wrapper input:checked ~ .checkmark::after,
.assignt-contact-wrapper input:checked ~ .checkmark::before {
  opacity: 1;
}

.assignt-contact-wrapper .checkmark::before {
  left: 9px;
  top: -8px;
  width: 4px;
  height: 22px;
  border: solid $blue;
  border-width: 0 9px 0px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
}

.assignt-contact-wrapper .checkmark::after {
  left: 8px;
  top: -6px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
}

.btn-urgent{
    background-color: $urgent-red;
    border: 2px solid $lightest-grey;
    color: $white;
    path{
        fill: $white;
    }
}

.btn-medium{
    background-color: $medium-orange;
    border: 2px solid $lightest-grey;
    color: $white;
    path{
        fill: $white;
    }
}

.btn-low{
    background-color: $low-green;
    border: 2px solid $lightest-grey;
    color: $white;
    path{
        fill: $white;
    }
}

.initials-wrapper{
    @include dFlex($jc: flex-start);
}

input.ng-invalid.ng-touched {
  border-color: $error-muted;
}

.error {
    margin-top: 4px;
  color: $error-muted;
  font-size: 16px;
  position: absolute;
}