<section>
    <div class="head">
        <h1>Join 360</h1>
        <img src="./img/summary/spacer-line.svg" alt="spacer line" class="spacer">
        <span class="tagline">Key Metrics at a Glance</span>
    </div>
    <div class="body">
        <div *ngIf="columns$ | async as columns" class="card-container">
            <div class="card-row">
                <div class="card-to-do" routerLink="/board">
                    <div class="icon"></div>
                    <div class="text">
                        <p class="count">{{columns[0].tasks.length}}</p>
                        <p>To-do</p>
                    </div>
                </div>
                <div class="card-done" routerLink="/board">
                    <div class="icon"></div>
                    <div class="text">
                        <p class="count">{{columns[3].tasks.length}}</p>
                        <p>Done</p>
                    </div>
                </div>
            </div>
            <div class="card-row">
                <div class="card-deadline" routerLink="/board">
                    <div class="highest-priority-badge">
                        <div class="icon"></div>
                        <div class="text">
                            <p class="count">{{this.countUrgentOpenTasks(columns)}}</p>
                            <p>Urgent</p>
                        </div>
                    </div>
                    <img src="./img/summary/spacer-line-grey.svg" alt="spacer line" class="spacer">
                    <div class="deadline">
                        <p class="date">{{this.getNextDeadline(columns)}}</p>
                        <p>Upcoming Deadline</p>
                    </div>
                </div>
            </div>
            <div class="card-row">
                <div class="card-all-tasks" routerLink="/board">
                    <p class="count">{{this.countOpenTaskWithStatus(columns, "incomplete")}}</p>
                    <p>Tasks in Board</p>
                </div>
                <div class="card-in-progress" routerLink="/board">
                    <p class="count">{{this.countOpenTaskWithStatus(columns, "inprogress")}}</p>
                    <p>Tasks in Progress</p>
                </div>
                <div class="card-awaiting-feedback" routerLink="/board">
                    <p class="count">{{this.countOpenTaskWithStatus(columns, "awaiting")}}</p>
                    <p>Awaiting Feedback</p>
                </div>
            </div>
        </div>


        <div *ngIf="!(breakpointService.isMobile$ | async)" class="greeting">
            <p>Good morning,</p>
            <p class="name">Sofia Müller</p>
        </div>

    </div>
</section>